USE [Tienda]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 25/11/2025 14:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[iddetalle] [int] IDENTITY(1,1) NOT NULL,
	[idfactura] [int] NOT NULL,
	[idproducto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iddetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 25/11/2025 14:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[idfactura] [int] NOT NULL,
	[fechaFactura] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idfactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 25/11/2025 14:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idproducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precioProducto] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_backup]    Script Date: 25/11/2025 14:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_backup](
	[idproducto] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precioProducto] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 25/11/2025 14:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[detalle] ON 

INSERT [dbo].[detalle] ([iddetalle], [idfactura], [idproducto], [cantidad], [precioUnitario]) VALUES (1, 11, 2, 1, CAST(3.50 AS Decimal(10, 2)))
INSERT [dbo].[detalle] ([iddetalle], [idfactura], [idproducto], [cantidad], [precioUnitario]) VALUES (2, 11, 11, 1, CAST(8.90 AS Decimal(10, 2)))
INSERT [dbo].[detalle] ([iddetalle], [idfactura], [idproducto], [cantidad], [precioUnitario]) VALUES (3, 12, 1, 2, CAST(2.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalle] OFF
GO
INSERT [dbo].[factura] ([idfactura], [fechaFactura]) VALUES (1, CAST(N'2025-11-16' AS Date))
INSERT [dbo].[factura] ([idfactura], [fechaFactura]) VALUES (2, CAST(N'2025-11-16' AS Date))
INSERT [dbo].[factura] ([idfactura], [fechaFactura]) VALUES (3, CAST(N'2025-11-16' AS Date))
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idproducto], [nombre], [precioProducto], [stock], [activo]) VALUES (1, N'Bimbo', CAST(2.00 AS Decimal(10, 2)), 25, 1)
INSERT [dbo].[producto] ([idproducto], [nombre], [precioProducto], [stock], [activo]) VALUES (2, N'Gaseosa Cola 500 ml', CAST(3.50 AS Decimal(10, 2)), 35, 1)
INSERT [dbo].[producto] ([idproducto], [nombre], [precioProducto], [stock], [activo]) VALUES (3, N'Gaseosa Inka-Cola 500 ml', CAST(3.50 AS Decimal(10, 2)), 69, 1)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
INSERT [dbo].[producto_backup] ([idproducto], [nombre], [precioProducto], [stock]) VALUES (0, N'Bimbo', CAST(2.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[producto_backup] ([idproducto], [nombre], [precioProducto], [stock]) VALUES (1, N'Gaseosa Cola 500 ml', CAST(3.50 AS Decimal(10, 2)), 42)
INSERT [dbo].[producto_backup] ([idproducto], [nombre], [precioProducto], [stock]) VALUES (2, N'Gaseosa Inka-Cola 500 ml', CAST(3.50 AS Decimal(10, 2)), 98)
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idusuario], [username], [password], [rol]) VALUES (1, N'admin', N'admin123', N'ADMIN')
INSERT [dbo].[usuarios] ([idusuario], [username], [password], [rol]) VALUES (2, N'usuario1', N'usuario123', N'USUARIO')
INSERT [dbo].[usuarios] ([idusuario], [username], [password], [rol]) VALUES (6, N'marcial', N'10804590', N'ADMIN')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__F3DBC57267BFE212]    Script Date: 25/11/2025 14:48:06 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT (getdate()) FOR [fechaFactura]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [FK_detalle_factura] FOREIGN KEY([idfactura])
REFERENCES [dbo].[factura] ([idfactura])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [FK_detalle_factura]
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [FK_detalle_producto] FOREIGN KEY([idproducto])
REFERENCES [dbo].[producto] ([idproducto])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [FK_detalle_producto]
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD CHECK  (([precioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD CHECK  (([precioProducto]>=(0)))
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
